<tr{{#if is_you}} class="you"{{/if}}>
  <td>
    <div class="competitor-name">
      <span class="competitor-rank">{{rank}}</span>{{name}}{{#if is_you}} <span class="you-tag">{{../t.you_tag}}</span>{{/if}}
      {{#if name_secondary}}<br><span style="font-family:'Noto Serif TC',serif;font-size:12px;color:var(--ink-mute);">{{name_secondary}}</span>{{/if}}
    </div>
  </td>
  <td><strong>{{score}}</strong></td>
  <td>{{rating_display}}</td>
  <td>{{total_count}}</td>
  <td>{{last_30d}}</td>
  <td>{{last_90d}}</td>
  <td><span class="trend-arrow {{trend}}">{{trend_glyph}}</span></td>
</tr>
